.background {
  viewport-fill: #444444;
}

#myLaps {
  fill: white;
}

#myLapTime {
  fill: white;
}

#lapCount {
  font-size: 100;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: end;
  x: 85%;
  y: 50%;
  fill: white;
}

#lapTime {
  font-size: 90;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 40%+5;
  y: 79%;
  fill: white;  
}

#lastLapText {
  font-size: 24;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: start;
  x: 1%;
  y: 10%;
  fill: white;      
}

#topLap {
  font-size: 48;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: start;
  x: 1%;
  y: 25%;
  fill: white;    
}

#currLapText {
  font-size: 24;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: start;
  x: 1%;
  y: 34%;
  fill: white;      
}

#botLap {
  font-size: 48;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: start;
  x: 1%;
  y: 47%;
  fill: white;    
}

#totLaps {
  font-size: 120;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 65%;
  y: 40%+10;
  fill: white;
}

#totTime {
  font-size: 100;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 90%;
  fill: white;
}

#totLapsShaddow {
  font-size: 120;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 65%+2;
  y: 40%+12;
  fill: white;
}

#totTimeShaddow {
  font-size: 100;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 50%+2;
  y: 90%+2;
  fill: white;
}

#lapMrkr {
  font-size: 36;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: start;
  x: 5;
  y: 10%+5;
  fill: white;
}
#timeMrkr {
  font-size: 36;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: start;
  x: 5;
  y: 60%+10;
  fill: white;
}

#lapMrkrShaddow {
  font-size: 36;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: start;
  x: 7;
  y: 10%+7;
  fill: white;
}
#timeMrkrShaddow {
  font-size: 36;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: start;
  x: 7;
  y: 60%+12;
  fill: white;
}



text { font-size: 32; font-family: System-Regular; font-weight: regular; text-length: 32; fill: white; }

.tile-list-item { height: 55; }

.tile-list-item text { height: 24; font-family: System-Regular; fill: white; }

.tile-divider-bottom { x: 0; y: 100%-2; width: 100%; height: 2; fill: fb-extra-dark-gray; x: 50;}
