.background {
  viewport-fill: #444444;
}

#myLaps {
  fill: white;
}

#myLapTime {
  fill: white;
}

#lapCount {
  font-size: 120;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: end;
  x: 73%;
  y: 50%;
  fill: white;
}

#lapTime {
  font-size: 90;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: start;
  x: 1%;
  y: 93%;
  fill: white;  
}

#lastLapText {
  font-size: 24;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: start;
  x: 1%;
  y: 10%;
  fill: white;      
}

#topLap {
  font-size: 48;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: start;
  x: 1%;
  y: 25%+5;
  fill: white;    
}

#currLapText {
  font-size: 24;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: start;
  x: 1%;
  y: 38%;
  fill: white;      
}

#botLap {
  font-size: 48;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: start;
  x: 1%;
  y: 51%+7;
  fill: white;    
}

#totLaps {
  font-size: 120;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 40%;
  fill: white;
}

#totTime {
  font-size: 120;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 92%;
  fill: white;
}

#totLapsShaddow {
  font-size: 120;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 50%+2;
  y: 40%+2;
  fill: white;
}

#totTimeShaddow {
  font-size: 120;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 50%+2;
  y: 92%+2;
  fill: white;
}

#lapMrkr {
  font-size: 24;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: start;
  x: 5;
  y: 10%+5;
  fill: white;
}
#timeMrkr {
  font-size: 24;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: start;
  x: 5;
  y: 50%+10;
  fill: white;
}

#lapMrkrShaddow {
  font-size: 24;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: start;
  x: 7;
  y: 10%+7;
  fill: white;
}
#timeMrkrShaddow {
  font-size: 24;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: start;
  x: 7;
  y: 50%+12;
  fill: white;
}


text { font-size: 32; font-family: System-Regular; font-weight: regular; text-length: 32; fill: white; }

.tile-list-item { height: 55; }

.tile-list-item text { height: 24; font-family: System-Regular; fill: white; x: 80; }

